usermods/GeoGab-Relays/examples/Node Red Example Flow.json
[{"id":"7ddf0641.f819c8","type":"inject","z":"6a9fa467.afa1ec","name":"Some other Message (Brightness 255)","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":" {\"bri\": 255}","payloadType":"json","x":370,"y":640,"wires":[["4dfc3e89.23043"]]},{"id":"4dfc3e89.23043","type":"http request","z":"6a9fa467.afa1ec","name":"WLED Device (please set your own ip)","method":"POST","ret":"obj","paytoqs":"body","url":"10.7.7.4/json","tls":"","persist":false,"proxy":"","authType":"","x":870,"y":640,"wires":[["b446acd4.375cc8"]]},{"id":"b446acd4.375cc8","type":"debug","z":"6a9fa467.afa1ec","name":"Debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1110,"y":640,"wires":[]},{"id":"cdf8c62f.ee25d8","type":"inject","z":"6a9fa467.afa1ec","name":"Config (Wemos D1, 4 Relays)","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"relays\":{\"no\":4,\"name\":[\"Dev1\",\"Dev2\",\"Dev3\",\"Dev4\"],\"gpio\":[16,5,13,15],\"sactive\":[0,0,0,0],\"invert\":[0,0,0,0]}}","payloadType":"json","x":340,"y":680,"wires":[["4dfc3e89.23043"]]},{"id":"8e5e9a6e.1bca48","type":"inject","z":"6a9fa467.afa1ec","name":"Toggle Dev1 [1,0,0,0]","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"relays\":{\"toggle\":[1,0,0,0]}}","payloadType":"json","x":320,"y":740,"wires":[["4dfc3e89.23043"]]},{"id":"7d3bb254.3c9094","type":"inject","z":"6a9fa467.afa1ec","name":"Switch ON DEV1&2&4 [1,1,0,1] (Dev 3 unchanged)","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"relays\":{\"on\":[1,1,0,1]}}","payloadType":"json","x":410,"y":860,"wires":[["4dfc3e89.23043"]]},{"id":"1dde601b.b4c9e8","type":"inject","z":"6a9fa467.afa1ec","name":"Switch All Devices [1,1,0,0] (ON,ON,OFF,OFF)","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"relays\":{\"switch\":[1,1,0,0]}}","payloadType":"json","x":400,"y":780,"wires":[["4dfc3e89.23043"]]},{"id":"3697ca72.dbab7e","type":"inject","z":"6a9fa467.afa1ec","name":"Swtich OFF Dev 1&2&3 [1,1,1,0]","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"relays\":{\"off\":[1,1,1,0]}}","payloadType":"json","x":350,"y":820,"wires":[["4dfc3e89.23043"]]}]